/*comentario multilinea

selector{
propiedad:valor
propiedad:vañor
}
*/
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;700 & display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.TextoPrincipalInicio{
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
    background-color: #4CAF50;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.FondoCarrusel{
    background-color: #4CAF50;
}
.Navegacion .ListaNav .ListaItems a{
    color: #FFFFFF;
    font-size: 1rem;
    background-color: #4CAF50;
    display: inline-block;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.ImagenesCarrusel{

    display: inline-block;
    width: 15%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    object-fit: cover;
    margin-left: 8px;
}

.ListaItems{
    display: inline-block;
    list-style:none;
    margin-left: 0px;
    padding-right: 0px;
    background-color: #4CAF50;
    font-family: "Poppins", sans-serif;;;
    top: 10px;
}

.SectionConvenios{
    text-align: center;
    font-size: 2rem;
    background-color: #4CAF50;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.Sect .ImagenesLesiones{
    display: inline-block;
    width: 10vh;
    height: 10vh
}

.SectionConvenios .ImagenesConvenios{
    display: inline-block;
    width: 40vh;
    height: 40vh;
    border: 1px solid black;
}

.Footer{
text-align: center;
font-size: 0.75rem;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}
.Logo{
    margin-left: 400px;
    background-color:#FFFFFF;
}
.SubtituloActividades{
font-family: "Poppins", sans-serif;
font-size: 1.5rem;
background-color: #4CAF50;
color: #FFFFFF;
text-align: center;
}
.TituloActividades{
    font-family: "Poppins", sans-serif;
font-size: 2rem;
background-color: #4CAF50;
text-align: center;
}
.DivInstalaciones{
    background-color: #4CAF50;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}
.TituloInstalaciones{ 
    font-size: 2rem;
    text-align: center;
    background-color: #4CAF50;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.Header{    top: 10px;
background-color: #FFFFFF;
}
.IconoWsp{
    width: 150px;
    height: 50px;
    background-color: #4CAF50;
    border: 1px solid black;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.ListaNav{
    position: fixed;
    top: 10px;
    z-index: 10;
}
.Header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.Navegacion{
    display: flex;
}