@import 'mixins.scss';
.mainContacto{
    background-color:map-get($colores, fondo );
    justify-content:$centrar-texto;
    align-items:$centrar-texto;
    .iconosContacto{
        @include flex-align-center (center,center);
        .iconos{
            color:$color-Iconos;
            padding: 10px;
            font-size: 30px;
            transition: all 300ms;
        }
        .iconos:hover{
            transform: scale(1.2);
        }
    }
    .TitulosContacto{
        text-align: $centrar-texto;
        color: map-get($colores, letras );
    }
    .Formulario{
        justify-content:$centrar-texto;
        align-items:$centrar-texto;
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        .divFormulario{
            padding: 10px;
            color: map-get($colores, letras );
            .boton{
                border-radius: 0;
                background-color: #4cae4f;
                padding: 10px;
            }
            .formularioMapa{
                border-radius: 0;
                background-color: #4cae4f;
            }
        }
    }.fraseTotal{
        color: map-get($colores, letras );
    }
}