.contenedor-index{
    .tituloInicio{
    color: map-get($colores, letras );
    font-size:$letra-titulo ;
    text-align: $centrar-texto;
    background-color: map-get($colores, fondo );
    font-family: $fuente-principal;
    font-weight: 700;
    }
    .TextoPrincipalInicio{
    color: map-get($colores, letras );
    font-size: $letra-texto;
    text-align: $centrar-texto;
    background-color: map-get($colores, fondo );
    font-family: $fuente-principal;
}
    .Convenios{
    text-align:$centrar-texto;
    background-color:map-get($colores, fondo );
    color:map-get($colores, letras );
    font-family:$fuente-principal;
        .convenios-titulo{
        font-size:$letra-titulo;
    }
        .convenios-subtitulo{
        font-size:$letra-subtitulo;
    }
        .ImagenesConvenios{
        display:inline-block;
        width:40vh;
        height:40vh;
        transition: height 3s;
    }
    .ImagenesConvenios:hover{height: 50vh;}
}
}