
.MainInstalaciones{
    .TituloInstalaciones{
    font-size: $letra-titulo;
    text-align:$centrar-texto;
    background-color:map-get($colores, fondo );
    font-family:$fuente-principal;
    font-weight: 700;
    color:map-get($colores, letras );
}
    .DivInstalaciones{
    background-color:map-get($colores, fondo );
    display:flex;
    justify-content:$centrar-texto;
    align-items:$centrar-texto;
        .multimedia-instalaciones{
        display:flex;
        justify-content:$centrar-texto;
        align-items:$centrar-texto;
        width:50vh;
        height:70vh;
    }
    .subtituloInstalaciones{
        color:map-get($colores, letras );
        text-align:$centrar-texto;
    }
    .subtituloMapa{
        color:map-get($colores, letras );
        text-align:$centrar-texto;
    }
}
}