.mainActividades{
    .TituloActividades{
        font-family:$fuente-principal;
    font-size:$letra-titulo;
    background-color:map-get($colores, fondo );
    text-align:$centrar-texto;
    color:map-get($colores, letras );
    }
    .sectionActividades{
        .SubtituloActividades{
        font-family:$fuente-principal;
        font-size:$letra-subtitulo;
        background-color:map-get($colores, fondo );
        color:map-get($colores, letras );
        text-align:$centrar-texto;
        }
        .texto-info{
            color:map-get($colores, letras );
            text-align:$centrar-texto;
            font-size:$letra-texto ;
        }
        .imagen-pilates{
            width:50vh;
            height:50vh;
        }
        .imagen-gimnasio{
            width:50vh;
            height:50vh;
        }
        .imagen-kinesiologia{
            width:50vh;
            height:50vh,
        }
    }
}