.divTituloLesiones{
    color: $color-letras;
    color:map-get($colores, letras );
    text-align: $centrar-texto;
    .TituloLesiones{
        color: $color-letras;
        color:map-get($colores, letras );
        }
    }
.SectionLesiones{
    text-align: center;
    .ImagenesLesiones{
        height: 30vh;
        width: 30vh;
        
        }
    }
.textoLesiones{
    color:map-get($colores, letras );
    text-align:$centrar-texto;
}/*no anido porque se reutiliza la clase*/