*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    font-family: $fuente-principal;
    background-color: map-get($colores, fondo );
    color: map-get($colores, letras );
}
header{
    height: 20%;
}
main{
    height: 60%;
    background-color:map-get($colores, fondo );
}
footer{
    height: 20%;
    text-align: $centrar-texto;
    background-color:map-get($colores, fondo ); 
    padding-top: 20px;
    color: map-get($colores, letras );
}